$headerBackground:url("/homework/img/m-h-day.jpg") center center no-repeat;
$markBackground: #14A0C7;
$buttonBackground: #699900;
$contentMainBackground: #FFFFFF;
$sectionBackground: #21232E;
$banerBackground:linear-gradient(to right, #679704, #2E5DD3);
$footerBackground: #21232E;
$headTextColor:#2C2F3C;
$textColor: #C9C4C3;
$textColor2: #2C2F3C;
$textColor3: #C9C4C3;