$headerBackground:url("/homework/img/m-h-night.jpg") center center no-repeat;
$markBackground: #FF4E33;
$buttonBackground: #E3AC00;
$contentMainBackground: #21232E;
$sectionBackground: #3B3F50;
$banerBackground:linear-gradient(to right, #DFA604, #953050);
$footerBackground: #3B3F50;
$headTextColor:#2C2F3C;
$textColor: #C9C4C3;
$textColor2: #FFFFFF;
$textColor3: #FFFFFF;

